AI/Fluxos-NodeRed/Aula01Exercicio.json
[
    {
        "id": "90df416ceee9934c",
        "type": "tab",
        "label": "Fluxo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f7dfd467a3231c4d",
        "type": "inject",
        "z": "90df416ceee9934c",
        "name": "Entrada 01 --> 15ºC",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "68b4bd6c26651408"
            ]
        ]
    },
    {
        "id": "0f61596283800c27",
        "type": "inject",
        "z": "90df416ceee9934c",
        "name": "Entrada 02 --> 25ºC",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "25",
        "payloadType": "num",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "68b4bd6c26651408"
            ]
        ]
    },
    {
        "id": "fd88bdd8e5834003",
        "type": "inject",
        "z": "90df416ceee9934c",
        "name": "Entrada 03 --> 35ºC",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "35",
        "payloadType": "num",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "68b4bd6c26651408"
            ]
        ]
    },
    {
        "id": "68b4bd6c26651408",
        "type": "change",
        "z": "90df416ceee9934c",
        "name": "Conversor ºC --> ºF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload*1.8+32",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "location",
                "pt": "msg",
                "to": "Sala dos Servidores",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 140,
        "wires": [
            [
                "a7f86e1e85872fe8"
            ]
        ]
    },
    {
        "id": "a7f86e1e85872fe8",
        "type": "switch",
        "z": "90df416ceee9934c",
        "name": "Verifica Temp",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "68",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "77",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "68",
                "vt": "num",
                "v2": "77",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "f2a58d487e145caa"
            ],
            [
                "1df9ab83e14fce72"
            ],
            [
                "7997f8e4f6eb9d4c"
            ]
        ]
    },
    {
        "id": "f2a58d487e145caa",
        "type": "change",
        "z": "90df416ceee9934c",
        "name": "Aquecimento",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Aquecimento Ligado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 80,
        "wires": [
            [
                "60408d6d50c6ebcd"
            ]
        ]
    },
    {
        "id": "1df9ab83e14fce72",
        "type": "change",
        "z": "90df416ceee9934c",
        "name": "Ventilador",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Ventilador Ligado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 140,
        "wires": [
            [
                "30e9d25c339d5fec"
            ]
        ]
    },
    {
        "id": "7997f8e4f6eb9d4c",
        "type": "change",
        "z": "90df416ceee9934c",
        "name": "Ideal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Temperatura Estavel. Nenhum Sistema Ativado",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 200,
        "wires": [
            [
                "9256c0cc9b0ecf3e"
            ]
        ]
    },
    {
        "id": "60408d6d50c6ebcd",
        "type": "debug",
        "z": "90df416ceee9934c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 80,
        "wires": []
    },
    {
        "id": "30e9d25c339d5fec",
        "type": "debug",
        "z": "90df416ceee9934c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 140,
        "wires": []
    },
    {
        "id": "9256c0cc9b0ecf3e",
        "type": "debug",
        "z": "90df416ceee9934c",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 200,
        "wires": []
    }
]